@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Vithkuqi:wght@700&family=Roboto:wght@100&family=Ruwudu:wght@600&display=swap');
#imglogo{
    width: 150px;
    height: 70px;
}
.head{
    font-size: 52px;
    font-family: 'Noto Sans Vithkuqi', sans-serif;
}
.text{
    font-size: 20px;
    font-weight: 600;
}
.img img{
    width: 100%;
}
.my-btn{
    height: 57px;
    background-image: url('../image/backg.PNG');
}
.botton{
margin-top: 5%;
}
.box{
    background-image: url('../image/backbox.PNG');
    padding: 20px;
    margin-left: 1%;
    color: white;
}
.serv-descr{
    margin-left: 55px;
}
.serv{
font-size: 22px;
}
.service{
    width: 50px;
    height: 50px;
}
.my-row{
    padding-top: 3%;
    padding-bottom: 3%;
}
.best-selling{
font-size: 40px;
font-family: 'Ruwudu', serif;
padding-top: 12%;
}
.fivestar{
    width: 80px;
    height: 20px;
}
.product-image{
    width: 287px;
    height: 287px;
}
.pages a{
    text-decoration: none;
    color: black;
}
.my-container{
    padding-left: 5%;
    padding-right: 5%;
}
.in{
    border-width: 0.4px;
    outline: none;
    height: 32px;
    background-color: white;
}
.menu{
    display: none;
}
.mobile{
    display: none;
}
#cart-icon{
    width: 30px;
}
.col-mine{
    padding-top: 8px;
    padding-bottom: 8px;
}
.image img{
    width: 100%;
}
.my-image{
    padding: 4% 11% 4% 11%;
}
.card{
    width: 18rem;
}
.productname{
    text-decoration: none;
    color: black;
}
.card-body{
    text-align: center;
}
.category{
    font-size: 15px;
    margin-bottom: 2%;
    color: grey;
}

.indexproduct{
        display: inline-table;

        margin-top: 2%;
}

@media (max-width: 1409px) { 

    .groceriesproduct{

        flex-basis: 50%;
        margin-top: 2%;
       
    }
 }
    


@media only screen and (max-width:768px){
    .my-col{
        display:none;
    }
    .mobile{
        display: block;
    }
    #imglogo{
        width: 120px;
        height: 50px;
    }
    .col-mine{
        position: relative;
        top: -13px;
    }
}

